img {
    height:100%;
    width:100%;
}

body {
    margin:0;
    background-color:black;
}

.table-row {
    display: flex;
    height: 18vh;
    align-items: center;
}

#new-card-button {
  background-color: #303738;
  border: 0 solid #E5E7EB;;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: left;
}

#new-card-button:focus {
  outline: 0;
}

#new-card-button:after {
  content: '';
  position: absolute;
  border: 1px solid #858585;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#new-card-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.table-single {
    display: flex;
    flex-wrap: wrap;
}

.table-multi {
    display: inline-block;
}

#tool-bar-spacer {
    height:8vh;
}

#tool-bar {
    background-color: orange;
    position:fixed;
    height:inherit;
    width:100%;
}

#notification-box {
    width: 50vw;
    height: 30vh;
    border: 5px groove darkred;
    border-radius: 5px;
    background-color: black;
    visibility: hidden;
}

#notification {
    margin: auto;
    text-align: center;
}

#big-image-container {
    background-color: rgb(255, 255, 255);
    position:fixed;
    width:30vw;
    height:auto;
    min-height: 30vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:50px;
    border-radius:20px;
    border-style:ridge groove;
    padding:1%;
    visibility: hidden;
}

#bingo-machine-container {
    position:fixed;
    max-width:33vw;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#bingo-machine {
    border-radius:50px;
}

#buttons-wrapper {
    float: right;
}

#img-row-I,
#img-row-G {
    background-color: #222;
}

.bingo-machine-fadeIn {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bingo-machine-fadeOut {
    animation: fadeOut 1s;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.table-card {
    height: 14vh;
    min-width: 10vw;
    width: auto;
    margin:3px;
    border-style:ridge groove;
    border-radius:40px;
    border-color:rgb(0, 0, 0);
    background-color:white;
    position: relative;
}

.row-header {
    color: white;
    font-size: 10vh;
    width: 8vw;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    z-index: 1;
    margin-left: 1vw;
}

.spacer {
    width: 10vw;
}

.card-text {
    color: black;
    background: white;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    max-width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.toolbar-button {
    align-self: center;
    padding: 10px;
    margin: 10px;
    min-width: 10vw;
    border-radius: 10px;
    background-color: #303738;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid black;
}

.toolbar-button:disabled {
    opacity: 0.9;
}

.card-number {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    margin: auto;
}

.pool-id-text {
    color: black;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 5px;
}

.centered-box {
    display: inline-grid;
    position: fixed;
    color: white;
    top: 45%;
    left: 50%;
    font-size: xx-large;
    transform: translate(-50%, -50%);
}